:root {
    --valid: rgb(0, 199, 0);
    --invalid: rgb(252, 0, 0);
    --light-gray: #C0C0C0;
    --background-gray: #F0F0F0;
    --leaf-green: #43997f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
}

header {
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    flex: 2;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

main {
    flex: 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 7%;
}

main > :not(.form) {
    padding-left: 10%;
}

.submit, .form fieldset ul:nth-child(1) {
    margin-left: 10%;
}


main p {
    max-width: 500px;
}

.form {
    color: rgb(37, 37, 37);
}

.form form {
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.form fieldset {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    gap: 10%;
    border: none;
    background-color: var(--background-gray); 
    -webkit-box-shadow: 0px 3px 5px 2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 3px 5px 2px rgba(66, 68, 90, 1);
    box-shadow: 0px 3px 5px 2px rgba(66, 68, 90, 1);
}

.inputs {
    display: flex;
    flex-flow: column;
    gap: 0.8rem;
}

.inputs li {
    display: flex;
    flex-flow: column nowrap;
}

.inputs li input {
    height: 2rem;
    width: 200px;
    border: 0;
    background-color: inherit;
    border-bottom: solid gray 2px;
    color: black;
    font-weight: 700;
    
}

.inputs li input::selection {
    background-color: var(--light-gray);
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
.inputs li input:active, 
.inputs li input:focus {
    transform: scale(1.05);
    background-color: inherit;
    transition: all 0.1s;
    outline: none;
    box-shadow: 0 0 0px 1000px var(--background-gray) inset;
}

.inputs li label {
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(85, 85, 85);
    font-family: monospace;
}

.logo {
    font-family: 'Neo Gen', sans-serif;
    font-size: 4rem;
    background-color: rgba(10, 10, 10, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 0.2rem;
    position: absolute;
    top: 20%;
    width: 100%;
}

.author {
    margin-top: auto;
}

.submit {
    width: 200px;
    height: 3rem;
    border: none;
    background-color: var(--leaf-green);
    border-radius: 12px;
    font-size: 2rem;
    font-family: Arial;
    color: white;
}

button:active {
    transform: scale(1.02);
}

div p {
    text-align: center;
}

.credits a {
    font-weight: 700;
    color: var(--leaf-green);
}